@import "tailwindcss";
@plugin "daisyui";/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: 'Roboto', sans-serif;
}

@plugin "daisyui/theme" {
  name: "light";
  --color-primary: #000fff;
  --color-secondary: #ff00f0;
}
@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #fa8989;
  --color-secondary: #fa9fff;
}