@import "tailwindcss";
@plugin "daisyui";/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: 'Roboto', sans-serif;
}

@plugin "daisyui/theme" {
  name: "light";
  --color-primary: #273F4F;
  --color-secondary: #FE7743;
  --color-accent:#ffffff;
  --color-neutral:#000000

}
@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #fa8989;
  --color-secondary: #fa9fff;
  --color-accent:#000000;
  --color-neutral:#ffffff
}